@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    min-height: 100vh; 
    
}
.tag {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 13px;
}
.tag.green {
    color: rgb(5, 184, 5);
  }
  
  .tag.orange {
    color: orange;
  }
  
  .tag.red {
    color: red;
  }